[Unit]
Description=sub Server
After=network.target 
Wants=network.target

[Service]
Type=simple
PIDFile=/var/run/sub.pid
ExecStart=/root/subconverter/subconverter
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target